* {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {

    margin: 0;
    padding: 0;
    background-color: #e9e9e9;

}

h1 {

    color: #333;
    font-size: 3.5rem;

}

h2 {

    color: #555;
    font-size: 2rem;

}

h3 {

    color: #666;
    font-size: 1.5rem;

}
h4 {

    color: #777;
    font-size: 1.3rem;

}

.button, button {

    padding: 10px 12px;
    background-color: #72b9a1;
    color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
    transition: all 0.4s ease-in-out;
    border-radius: 20px;
    text-decoration: none;

}

.button:hover, button:hover {

    background-color: #68c6a6;
    scale: 1.03;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);

}

.cancel, .back {

    background-color: #333;

}

.cancel:hover, .back:hover {

    background-color: #555;

}

.register {

    font-size: 20px;

}

.btn-group {

    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.settings {

    position: absolute;
    top: 35px;
    right: 60px;
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.settings:hover {

    animation: girar 5s linear infinite;
    scale: 1.2;

}

.settings:active {

    scale: 0.94;

}

.modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100000;

}

.modal-content {

    position: relative;
    width: 70%;
    padding: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 1px 4px rgba(255, 255, 255, 0.4);
    animation: fade-in-top 1s ease-in-out;
    max-height: 790px;
    overflow-y: auto;
}

#instagramCredentialsForm {

    margin-top: 20px;

}

.fechar {

    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 26px;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.fechar:hover {

    font-size: 30px;
    color: #333;

}

.backToMain {

    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

}

.backToMain:hover {

    scale: 1.1 !important;
    background-color: #222;

}

/* From Uiverse.io by Lealdos */ 
.logoutBtn {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: RGB(29, 185, 84);

  }
  
  /* plus sign */
  .sign {

    width: 100%;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .sign svg {
    width: 18px;
  }
  
  .sign svg path {
    fill: black;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.5s ease-in-out;
  }
  /* hover effect on button width */
  .logoutBtn:hover {
    width: 185px;
    border-radius: 40px;
    transition-duration: 0.5s;
  }
  
  .logoutBtn:hover .sign {
    width: 30%;
    transition-duration: 0.5s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .logoutBtn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.5s;
    padding-right: 10px;
  }
  /* button click effect*/
  .logoutBtn:active {
    transform: translate(2px, 2px);
  }
  

.action-setting {

    background-color: #eee;
    text-align: left;
    width: calc(100% - 100px);
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 50px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    
}
.action-setting:hover {

    background-color: #e3e3e3;
    scale: 1.03;

}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  

@keyframes fade-in-left {
    
    0%{
        opacity: 0.3;
        transform: translateX(-130px);
    } 100% {
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes fade-in-right {
    
    0%{
        opacity: 0.3;
        transform: translateX(+130px);
    } 100% {
        opacity: 1;
        transform: translateX(0);
    }

}
@keyframes fade-in-top {
    
    0%{
        opacity: 0.3;
        transform: translateY(+50%);
    } 100% {
        opacity: 1;
        transform: translateY(0%);
    }

}
@keyframes fade-in-top-absolute {
    
    0%{
        opacity: 0.3;
        transform: translate(-50%, calc(-50% + 230px));
    } 100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

}

