.input-wrapper {

    position: relative;
    margin-bottom: 20px;

}

input, #postDescription {

    width: calc(100% - 20px);
    border-radius: 20px;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #66c1a3;
    outline: none;
    transition: all 0.4s ease-in-out;

}

input:focus, #postDescription:hover {

    border-color: #7bc9af;

}

.input-wrapper label {

    position: absolute;
    left: 6%;
    top: 25%;
    color: #777;
    pointer-events: none;
    transition: all 0.4s ease-in-out;

}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {

    transform: translateY(-110%);
    color: #7bc9af;
    background-color: #f7f7f7;
    font-size: 14px;

}

.input-date-time {

    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;

}

.input-date-time input {


    width: calc(45% - 20px);
    border-radius: 20px;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #66c1a3;
    outline: none;
    transition: all 0.4s ease-in-out;

}